/*!
 * Main content
 */

.main {

  & .articles {
    background: $grey;

    &-right {
      margin-top: 0;
    }

    & .tags {

      & .read-tag {
        background: $grey;
      }

      & a {
        font-size: 15px;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    & .pagination {

      & .page-item {

        &.active a, &:hover:not(.disabled) a {
          color: $green;
        }

        & .page-link {
          color: $black;
          border: none;
          background: transparent;
        }
      }
    }

    &-item {
      background: $white;
      margin-bottom: 20px;

      & .title.tag {
        background: $green;
        color: $white;
        line-height: 50px;
        font-size: 30px;
      }

      & .fa {
        color: $green;
      }

      & a {
        color: $black;

        &:hover {
          color: $green;
        }
      }
    }
  }

  & .breadcrumb {
    margin-top: 10px;
    font-size: 15px;

    & a {
      color: $black;

      &:hover {
        color: $green;
      }
    }
  }

  & .service {
    overflow-x: hidden;

    &-block {

      &-left {
        background: url("../images/img11.jpg") center right no-repeat;
        background-size: cover;
      }

      &-right {
        background: url("../images/img12.jpg") center left no-repeat;
        background-size: cover;
      }
    }
  }

  & .info {

    &-description {
      font-size: 15px;
    }
  }

  &-slider {
    min-height: 350px;
    background: url("../images/img07.jpg") no-repeat center center;
    background-size: cover;

    &-title {
      font-size: 34px;
    }

    &-description {
      padding-left: 20%;
      padding-right: 20%;
    }

    & .btn {
      font-size: 24px;
    }
  }

  & .contact {
    background: $grey;

    &-block {

      & a {
        color: $black;

        &:hover {
          color: $green;
        }
      }

      & iframe {

        @include xs() {
          height: 400px !important;
        }

        @include sm() {
          height: 400px !important;
        }
      }
    }

    & .form-control {
      border: 1px solid #c3c42a;
    }

    & .submit {

      & .btn {
        color: $black;
      }
    }
  }

  & .accessories {
    background: $grey;

    &-block {

      &-item {
        background: $white;

        & .price {
          color: $green;
          font-size: 28px;
        }

        & .title {
          font-size: 24px;

          & a {
            color: $black;

            &:hover {
              color: $green;
            }
          }
        }
      }
    }

    & a:hover {
      color: $black;
    }
  }

  .ih-item {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }

  .ih-item,
  .ih-item * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .ih-item a {
    color: #333;
  }

  .ih-item a:hover {
    text-decoration: none;
  }

  .ih-item img {
    width: 100%;
    height: 100%;
  }

  .ih-item.square {
    position: relative;
  }

  .ih-item.square .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .ih-item.square.effect {
    overflow: hidden;
  }

  .ih-item.square.effect .img {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .ih-item.square.effect .info {
    background: #333333;
    background: rgba(0, 0, 0, 0.45);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }

  .ih-item.square.effect .info h3 {
    margin: 30px 0 0 0;
    text-align: left;

    @include sm() {
      font-size: 36px;
    }

    @include md() {
      font-size: 32px;
    }

    @include lg() {
      font-size: 34px;
    }

    @include xl() {
      font-size: 36px;
    }
  }

  .ih-item.square.effect .info p {
    text-align: left;
    position: relative;

    @include sm() {
      font-size: 18px;
    }

    @include md() {
      font-size: 16px;
    }

    @include lg() {
      font-size: 18px;
    }

    @include xl() {
      font-size: 18px;
    }
  }

  .ih-item.square.effect a:hover .img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  .ih-item.square.effect a:hover .info {
    visibility: visible;
    opacity: 1;
  }

  .ih-item.square.effect.left-to-right .info {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .ih-item.square.effect.left-to-right a:hover .info {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

}
